.item{
    background-image: url(https://images.meesho.com/images/products/462242032/lbowb_512.avif?width=512);
    width: 100%;
    
      height: 400px; /* give height, otherwise image won’t show */
    
      background-size: cover;     /* makes image cover entire container */
      background-position: center; /* centers the image */
      background-repeat: no-repeat; /* stops repeating */
      border-radius: 12px;
      box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}